<a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top">Prakriti Mishra</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#strengths">Strengths</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#projects">Projects</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#skills">Links</a>
        </li>
    </ul>
</nav>